@model project_web.Models.DbModels.EventoEntrada

@{
    ViewData["Title"] = "Create";
}

<h1>Detalles del evento</h1>

<hr />


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TipoEvento" class="control-label"></label>
                <input asp-for="TipoEvento" class="form-control" />
                <span asp-validation-for="TipoEvento" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="TipoEscenario" class="control-label"></label>
                <input asp-for="TipoEscenario" class="form-control" disabled />
                <span asp-validation-for="TipoEscenario" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Escenario" class="control-label"></label>
                <input asp-for="Escenario" class="form-control" disabled />
                <span asp-validation-for="Escenario" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Localizacion" class="control-label"></label>
                <input asp-for="Localizacion" class="form-control" disabled />
                <span asp-validation-for="Localizacion" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <h4>Detalle de los Asientos</h4>
    <hr />

    <table class="table" id="myTable">
        <thead>
            <tr>
                <td> Id </td>
                <th> Tipo de Asiento </th>
                <th> Disponibles </th>
                <th> Precio </th>
                <th> Cantidad </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Entradas)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="@item.Id" />
                        @Html.DisplayFor(modelItem => item.Id) </td>
                    <td>
                        <input type="hidden" asp-for="@item.TipoAsiento" />
                        @Html.DisplayFor(modelItem => item.TipoAsiento)
                    </td>
                    <td>
                        <input type="hidden" asp-for="@item.Disponibles" />
                        @Html.DisplayFor(modelItem => item.Disponibles)
                    </td>
                    <td>
                        <input type="hidden" asp-for="@item.Precio" />
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <input asp-for="@item.Cantidad" type="number" min="0" step="1" value="0" />
                        <span asp-validation-for="@item.Cantidad" class="text-danger"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <div class="d-flex gap-1 mt-2">
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Atrás</a>
        </div>
    </div>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
