@model project_web.Models.DbModels.CompraCliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompraCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoEscenario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEscenario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escenario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escenario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
