@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager

@model IEnumerable<project_web.Models.Compra>

@{
    ViewData["Title"] = "Index";
}
<h2>Boletería</h2>
<hr>
<div id="page-container">
    <div id="content-wrap">


    <div>
             <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cantidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaReserva)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IdEntrada)
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaReserva)
                            </td>
                            <td>
                                @{
                                    var user = await UserManager.FindByIdAsync(item.UserId);
                                    var userName = user.UserName;
                                }

                                @Html.DisplayFor(modelItem => userName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdEntrada)
                            </td>
                            <td>
                                <div class="d-flex flex-row gap-3 text-center ">
    

                                    <div class="d-flex flex-column text-center align-items-center ">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <circle cx="6" cy="19" r="2" />
                                            <circle cx="17" cy="19" r="2" />
                                            <path d="M17 17h-11v-14h-2" />
                                            <path d="M6 5l14 1l-1 7h-13" />
                                        </svg>
                                        <a class="text-decoration-none text-black" asp-action="Imprimir" asp-route-id="@item.Id">Completar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
  


@section Scripts{

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado - disculpa",
                    "info": "Mostrando la página _PAGE_ de _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": 'Buscar',
                    "paginate": {
                        "next": "Siguiente",
                        "previous": "Anterior",
                    }
                }
            });
        });
    </script>

}
