@model IEnumerable<project_web.Models.Escenario>

@{
    ViewData["Title"] = "Index";
}

<h1>Escenarios</h1>

<p>
    <a asp-action="Create" class="btn btn-light">
        <object data="/svg/agregar.svg"></object>
    </a>  
</p>
<table class="table table-hover  table table-dark table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacion)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacion)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark">
                            <object data="/svg/edit.svg"></object>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark">
                            <object data="/svg/details.svg"></object>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark">
                            <object data="/svg/basurero.svg"></object>
                        </a>
                </div>
               
            </td>
        </tr>
}
    </tbody>
</table>
